/* .s
{
    background-color: aqua;
}
.mat-card{
    background-color: aqua;
}

 .logo{
    height: 32%;
     background-image: url(src\assets\logo4.jpg); 
     width: 100%;
     
  }

  
  

   
mat-sidenav
 {
   width: 250px; 
   
   
 }

.main-content
{ 
  padding: 19px;
  height:60%;
}

mat-sidenav-container
{
  height: 100%;


  
}
.navbar,.mat-nav-list
{
  justify-content: space-between;
  width: 20%;
  
}

.container
{
   margin-left: 20%; 
   
}
 .a:hover
{
  background-color:rgb(70, 70, 75);
  
}
.e:hover
{
  background-color: blue;
}
.c:hover
{
  background-color: blue;
}
.d:hover
{
  background-color: blue; 
}
.f:hover
{
  background-color: blue;
}

.g:hover
{
  background-color: blue;
}
 */
