
.flex-container 
 {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 500px;
   flex-direction: column;
   width: 70%;
 }

 th{
   background-color: rgb(96, 94, 97); 
   
 }
 /* .table table-striped
 {
   background-color: rgb(100, 97, 97);
   
 } */
 
