<div class="row">
  <div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="flex-container">
          <div class="row">
            <div class="col-md-7">
              <!-- <mat-form-field class="example-full-width" floatLable="auto"  appearance="outline">
                <input matInput placeholder="Favorite food">
              </mat-form-field> -->


              <mat-form-field floatLable="auto"  appearance="outline"> 
                  <mat-label>Amount</mat-label>
                  <input matInput required type="password">
              </mat-form-field> &nbsp;&nbsp;
              <button mat-raised-button color="primary">ADD</button>
            </div>
           

          </div>
          

          <div style="width: 80%">
            <!-- <table style="width: 130%" mat-table [dataSource]="dataSource" class="table table-striped"> -->
                <table style="width: 130%" mat-table [dataSource]="dataSource" class="table table-striped">


              <ng-container matColumnDef="ID" >
                <th mat-header-cell *matHeaderCellDef><b> ID</b> </th>
                <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
              </ng-container>


              <ng-container matColumnDef="Quantity">
                <th mat-header-cell *matHeaderCellDef><b>Quantity</b></th>
                <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
              </ng-container>

              <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
              </ng-container>


              <ng-container matColumnDef="Total">
                <th mat-header-cell *matHeaderCellDef>Total</th>
                <td mat-cell *matCellDef="let element"> {{element.Total}} </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      <!-- </mat-card>  -->
    </div>
    <div class="col-md-2"></div> 

  </div>
</div>