
<mat-sidenav-container fullscreen rowHeight="30px">
    <mat-sidenav [(opened)]="opened" mode="side" position="start">
            <div class="logo">
                
              
                </div>
            
<div class="part2" >
 <mat-nav-list style="width: 100%">
    
   <div class="a">
   <mat-list-item role="listitem" (click)="set(0)">CRUM</mat-list-item>
   </div>
   
   <div class="e">
   <mat-list-item role="listitem" (click)="set(1)">SOLUTION</mat-list-item>
   </div>
   
   <div class="c">
   
   <mat-list-item (click)="OpenClick()">COLOR<mat-icon class="ml-auto">keyboard_arrow_down</mat-icon></mat-list-item>
   <mat-list-item *ngIf=show  (click)="set(2)">colorCode</mat-list-item>
   <mat-list-item *ngIf=show  (click)="set(3)">colorName</mat-list-item>

   </div>
   
   <div class="d">
   <mat-list-item role="listitem" (click)="set(4)">MOLDAR</mat-list-item>
   </div>
   
   <div class="f">
   <mat-list-item role="listitem" (click)="set(5)">PRODUCTION</mat-list-item>
   </div>
   
   <div class="g">
   <mat-list-item role="listitem" (click)="set(6)">PAYROLL</mat-list-item>
   </div>

</mat-nav-list> 
</div>
   
</mat-sidenav>


<mat-sidenav-content>
    <mat-toolbar style="background-color: rgb(100, 97, 97)">
        <button mat-icon-button (click)="opened=!opened"> 
               
            <mat-icon>menu</mat-icon></button> 
        

    
            <h1 style="margin-left:35%; font-size:30px;">ADIFLEX TILES </h1> 

            
        
         <div class="container"> 
            <button mat-raised-button class="align-self-end ml-auto" color="black" style="margin-left: 190%" ><a href="http://localhost:4200/" >Logout</a></button>   
                         
           </div>
            </mat-toolbar>
       <div class="main-content1" style="margin-left: 50px">
        <router-outlet></router-outlet>
       </div>

             
            
</mat-sidenav-content>

</mat-sidenav-container> 



     

      